<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Attack Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div>
    <h1>WebHack Playground</h1>
    <h2>Explore Web-Based Hacking Through This Fun Portal!</h2>
    <a href="xss-me">
      <button id="xss">XSS Me</button>
    </a>
    <a href="redirect">
      <button id="redirect">Redirects</button>
    </a>
    <a href="register">
      <button id="register">Create Account</button>
    </a>
    <a href="login">
      <button id="login">Login</button>
    </a>
  </div>
</body>
</html>
